body {
	margin: 0;
    /*font-family: 'EB Garamond', serif;*/
	font-family: 'Rubik', sans-serif;
	text-decoration: none;
    color: #222222;
}

.col-logotype {
	background-color: #781f31;
	font-family: 'Rubik', sans-serif;
	text-shadow: 1px 1px #111;
}

/*.baskerville-font { font-family: 'Libre Baskerville', serif; }*/
.full-height { height: 100vh !important; }
.notaio-nowrap { white-space: nowrap; }
.text-italic { font-style: italic; }
.text-bold { font-weight: bold; }
/* .text-purple { color: #993366; } */
.text-purple { color: #781f31; }
.text-blue { color: #0000FF; }

A.simplelink { color: #F93E04; text-decoration: underline; font-size: 16pt; }
A.simplelink:visited { color: #F93E04; text-decoration: underline; font-size: 16pt; }
A.simplelink:hover { color: #AA0000; text-decoration: underline; font-size: 16pt; }

A.col-logotype-link { text-decoration: none; color: #fff; opacity: 0.5; transition: color 1s, linear 0.5s; }
A.col-logotype-link:visited { text-decoration: none; color: #fff; opacity: 0.5; }
A.col-logotype-link:hover { text-decoration: underline; color: #fff; opacity: 1; }

.notaio-opacity-5 { opacity: .5; }

A.notaio-mail, A.notaio-mail:visited { font-weight: bold; color: #781f31; text-decoration: none; }
A.notaio-mail:hover { font-weight: bold; color: #781f31; text-decoration: underline; }

A.notaio-tel-link-left, A.notaio-tel-link-left:visited { display: block; color: #fff; text-decoration: none;}
A.notaio-tel-link-left:hover { display: block; color: #fff; text-decoration: underline; }

A.notaio-tel-link-content, A.notaio-tel-link-content:visited { color: #222; text-decoration: none;}
A.notaio-tel-link-content:hover { color: #222; text-decoration: underline; }

/* media screens */

@media( min-width:110px) {
	.license-br { display: none; }
	.baskerville-font { font-size: 14pt; }
	.name-padder { margin-top: 50px; }
	body { font-size: 14pt; }
}

@media( min-width:480px) {
	.license-br { display: inline-block; }
}

@media( min-width:768px) {
	.baskerville-font { font-size: 12pt; }
	body {
		font-size: 10pt;
		background-image: url('../images/bg.png');
		background-repeat: no-repeat;
		background-size: 50% 100%;
	}
	h3 { font-size: 14pt; }
}

@media( min-width:992px) { }

@media( min-width:1160px) {
	body { font-size: 14pt; }
	h3 { font-size: 16pt; }
}

@media( min-width:1400px) {
	.baskerville-font { font-size: 15pt; }
	h3 { font-size: 20pt; }
}
